<footer class="footer-login">
  <span class="text-smaller text-gray">Copyright &#64; <a href="https://www.hennge.com">HENNGE K.K.</a></span> |
  <span class="text-smaller text-gray"><a href="https://support.hdeone.com">Help Center</a></span>
  <script type="text/javascript" src="{{ context.resources_path }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ context.resources_path }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ context.resources_path }}js/bootstrap.bundle.min.js"></script>
</footer>
