<table border="0" style="width:99%;border-collapse:collapse">
  <tbody>
    <tr>
      <td style="height:70px;background-color:#e7e7e7;padding:0 15 0 0px;margin:0 10 0 10px">
        <img style="max-width:150px;float:left;margin:0px 15px" src="">
      </td>
    </tr>
    <tr>
      <td style="background-color:#fff;color:#000;padding:30px 25px 40px 25px">
        <p>{{ context.val_addressee }}</p>
        <p>{{ context.val_body }}</p>
        <p>{{ context.val_login }}</p>
        <p>{{ context.val_signature }}</p>
      </td>
    </tr>
    <tr>
      <td style="background-color:#494949;color:#ddd">
        <p style="text-align:center;margin:20 15 20 15px"><br />
          <a href="https://www.hennge.com" style="color:#ddd" target="_blank">Home</a> |
          <a href="{{ context.link_home }}" style="color:#ddd" target="_blank">Service</a> |
      </td>
    </tr>
  </tbody>
</table>
