<html>
  {% include "header_login.html" %}
  <div class="wrapper">
    <section class="container">
      <div class="form-login">
        <div class="mt-30 mb-30 form-login__company-logo-wrapper">
          <img src="{{ context.resources_path }}images/logo_default.png" class="img-responsive form-login__company-logo ">
        </div>
        <div class="form-login__body">
          <div class="form-group">
            <form method="post" action="" id="login_form">
              <input type="hidden" name="hash" value="" />
              <div class="form-group">
                <label for="email" class="login_caption">{{ context.lang_email }}</label>
                <input name="email" class="form-control" spellcheck="false" autocorrect="off" autocapitalize="off" autocomplete="email" value="{{ context.val_email }}" autofocus />
              </div>
              <div class="form-group">
                <label for="code" class="login_caption">{{ context.lang_code }}</label>
                <input name="code" class="form-control" autocomplete="current-password" value="{{ context.val_code }}" />
              </div>
              <div class="form-group">
                <label for="pass" class="login_caption">{{ context.lang_password }}</label>
                <input type="password" name="pass" class="form-control" autocomplete="current-password">
              </div>
              <div class="form-group">
                <label for="con_pass" class="login_caption">{{ context.lang_con_password }}</label>
                <input type="password" name="con_pass" class="form-control" autocomplete="confirm-password">
              </div>
              <input type="submit" class="btn btn-primary btn-block" name="submit" value="{{ context.lang_reset_pass }}">
              <input type="button" class="btn btn-default btn-block" onclick="window.location='{{ context.link_login }}'" value="{{ context.lang_login }}">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- {% include "footer.html" %} -->
</html>
